@import url("observablehq:default.css");
@import url("observablehq:theme-air.css");

:root {
  --theme-background: #f9f8f6;
  --theme-foreground: #222222;
  --theme-primary: #0d978b;
  --theme-secondary: #7370ff;
  --theme-accent: #ff4d00;
  --theme-muted: #666666;
}

body {
  background-color: var(--theme-background);
  color: var(--theme-foreground);
}

a {
  color: var(--theme-primary);
}
